<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <br>

    <input type="button" class="btn btn-success btn-lg" value="1" id="Dummy1">
    <input type="button" class="btn btn-success btn-lg" value="2" id="Dummy2">
    <input type="button" class="btn btn-success btn-lg" value="3" id="Dummy3">
    <input type="button" class="btn btn-success btn-lg" value="4" id="Dummy4">
    <input type="button" class="btn btn-success btn-lg" value="5" id="Dummy5">
    <input type="button" class="btn btn-success btn-lg" value="6" id="Dummy6">
    <input type="button" class="btn btn-success btn-lg" value="7" id="Dummy7">
    <input type="button" class="btn btn-success btn-lg" value="8" id="Dummy8">
    <input type="button" class="btn btn-success btn-lg" value="9" id="Dummy9">
    <input type="button" class="btn btn-success btn-lg" value="10" id="Dummy10">

    <br><br><br>
    <input type="button" class="btn btn-warning btn-lg" value="Random" id="DummyRandom">
    <br><br><br>

</div>
<div class="iframe">
    <iframe width="100%"; height="2000"; src="http://168.131.148.45:19999"; frameborder="0"> 서버 뻥! </iframe>
</div>
</body>
</html>
