<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">

<br><br><br>

<input type="button" class="btn btn-success btn-lg" value="1" id="Dummy1">
<input type="button" class="btn btn-success btn-lg" value="2" id="Dummy2">
<input type="button" class="btn btn-success btn-lg" value="3" id="Dummy3">
<input type="button" class="btn btn-success btn-lg" value="4" id="Dummy4">
<input type="button" class="btn btn-success btn-lg" value="5" id="Dummy5">
<input type="button" class="btn btn-success btn-lg" value="6" id="Dummy6">
<input type="button" class="btn btn-success btn-lg" value="7" id="Dummy7">
<input type="button" class="btn btn-success btn-lg" value="8" id="Dummy8">
<input type="button" class="btn btn-success btn-lg" value="9" id="Dummy9">
<input type="button" class="btn btn-success btn-lg" value="10" id="Dummy10">

<br><br><br>
<input type="button" class="btn btn-warning btn-lg" value="Random" id="DummyRandom">
<br><br><br>

</div>
</body>
</html>