<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">
        var call1
        var call2
        var call3

        function call_page(number) {
            const http = new XMLHttpRequest()
            http.open("GET", "http://168.131.148.45:20011/" + number)
            http.send()
            wherei.innerText=wherei.innerText+" -> "+number
        }
        function call_random() {
            var number = Math.floor(Math.random() * 3) + 1
            call_page(number)
        }
        function call_1() {
            call1 = setInterval(function(){
                call_page(1)
            },1000)
        }
        function call_2() {
            call2 = setInterval(function(){
                call_page(2)
            },1500)
        }
        function call_3() {
            call3 = setInterval(function(){
                call_page(3)
            },2000)
        }
        function call_stop() {
            clearInterval(call1)
            clearInterval(call2)
            clearInterval(call3)
        }
    </script>
</head>
<body>
<div class="container">

<br><br><br>

<input type="button" onclick="call_1()" class="btn btn-success btn-lg" value="1" id="Dummy1">
<input type="button" onclick="call_2()" class="btn btn-success btn-lg" value="2" id="Dummy2">
<input type="button" onclick="call_3()" class="btn btn-success btn-lg" value="3" id="Dummy3">
<input type="button" onclick="call_stop()" class="btn btn-success btn-lg" value="STOP" id="Dummy4">

<br><br><br>
<input type="button" onclick="call_random()" class="btn btn-warning btn-lg" value="Random" id="DummyRandom">

<br><br><br>
</div>
<div ID=wherei style="word-break: break-all"> Where I </div>
</body>
</html>