<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        nav {
            float: left;
            padding: 30px;
            border-right: 1px solid gray;
            height: 700px;
            }
        article {
            padding: 30px;
            overflow: hidden;
        }
    </style>


</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li id="li1" role="presentation" class="active" onclick="document.getElementById('li2').className='unactive'; document.getElementById('li3').className='unactive'; this.className='active';"><a href="#home">Home</a></li>
                <li id="li2" role="presentation" class="unactive" onclick="document.getElementById('li1').className='unactive'; document.getElementById('li3').className='unactive'; this.className='active';"><a href="#v1">visualizer1</a></li>
                <li id="li3" role="presentation" class="unactive" onclick="document.getElementById('li1').className='unactive'; document.getElementById('li2').className='unactive'; this.className='active';"><a href="#v2">visualizer2</a></li>
            </ul>
        </nav>
        <article>
            dlafjladskfj;dsajklfd
        </article>
    </div>
</body>
</html>