<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="liquidFillGauge.js" language="JavaScript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>
</head>
<body>

<input type="button" class="btn btn-success btn-lg" value="1" id="Dummy1">
<input type="button" class="btn btn-success btn-lg" value="2" id="Dummy2">
<input type="button" class="btn btn-success btn-lg" value="3" id="Dummy3">
<input type="button" class="btn btn-success btn-lg" value="4" id="Dummy4">
<input type="button" class="btn btn-success btn-lg" value="5" id="Dummy5">
<input type="button" class="btn btn-success btn-lg" value="6" id="Dummy6">
<input type="button" class="btn btn-success btn-lg" value="7" id="Dummy7">
<input type="button" class="btn btn-success btn-lg" value="8" id="Dummy8">
<input type="button" class="btn btn-success btn-lg" value="9" id="Dummy9">
<input type="button" class="btn btn-success btn-lg" value="10" id="Dummy10">

<svg id="fillgauge1" width="97%" height="250" ></svg>

<script language="JavaScript">
    var config1 = liquidFillGaugeDefaultSettings();
    //config1.circleColor = "#FF7777";
    //config1.textColor = "#FF4444";
    //config1.waveTextColor = "#FFAAAA";
    //config1.waveColor = "#FFDDDD";
    config1.textVertPosition = 0.5;
    config1.waveAnimateTime = 1000;
    config1.circleThickness = 0.1;
    var gauge1 = loadLiquidFillGauge("fillgauge1", 55, config1);
</script>
</body>
</html>