<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="static/liquidFillGauge.js" language="JavaScript"></script>

    <style> .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; } </style>
</head>
<body>

visualizer3

</body>
</html>