<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
<title></title>
<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<script src="static/liquidFillGauge.js" language="JavaScript"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<style>
    .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
</style>
</head>
<body>

<input type="button" class="btn btn-success btn-lg" onclick="button1_click();" value="button1" id="Dummy1">
<input type="button" class="btn btn-success btn-lg" onclick="button2_click();" value="button2" id="Dummy2">
<input type="button" class="btn btn-success btn-lg" onclick="button3_click();" value="button3" id="Dummy3">
<input type="button" class="btn btn-success btn-lg" onclick="button4_click();" value="button4" id="Dummy4">
<input type="button" class="btn btn-success btn-lg" onclick="button5_click();" value="button5" id="Dummy5">
<input type="button" class="btn btn-success btn-lg" onclick="button6_click();" value="button6" id="Dummy6">
<input type="button" class="btn btn-success btn-lg" onclick="button7_click();" value="button7" id="Dummy7">
<input type="button" class="btn btn-success btn-lg" onclick="button8_click();" value="button8" id="Dummy8">
<input type="button" class="btn btn-success btn-lg" onclick="button9_click();" value="button9" id="Dummy9">
<input type="button" class="btn btn-success btn-lg" onclick="button10_click();" value="button10" id="Dummy10">
<svg id="fillgauge" width="97%" height="250" ></svg>

<script language="JavaScript">
    var loadvalue = 50;

    var config = liquidFillGaugeDefaultSettings();
    //config.circleColor = "#FF7777";
    //config.textColor = "#FF4444";
    //config.waveTextColor = "#FFAAAA";
    //config.waveColor = "#FFDDDD";
    config.textVertPosition = 0.5;
    config.waveAnimateTime = 1000;
    config.circleThickness = 0.1;
    var gauge = loadLiquidFillGauge("fillgauge", loadvalue, config);

    function button1_click() { loadvalue = 10; gauge.update(loadvalue) }
    function button2_click() { loadvalue = 20; gauge.update(loadvalue) }
    function button3_click() { loadvalue = 30; gauge.update(loadvalue) }
    function button4_click() { loadvalue = 40; gauge.update(loadvalue) }
    function button5_click() { loadvalue = 50; gauge.update(loadvalue)}
    function button6_click() { loadvalue = 60; gauge.update(loadvalue)}
    function button7_click() { loadvalue = 70; gauge.update(loadvalue)}
    function button8_click() { loadvalue = 80; gauge.update(loadvalue)}
    function button9_click() { loadvalue = 90; gauge.update(loadvalue)}
    function button10_click() { loadvalue = 100; gauge.update(loadvalue)}
</script>
</body>
</html>