<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="static/liquidFillGauge.js" language="JavaScript"></script>

    <style> .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; } </style>
</head>
<body>

<input type="button" class="btn btn-success btn-lg" onclick="button1_click();" value="button1">
<input type="button" class="btn btn-success btn-lg" onclick="button2_click();" value="button2">
<input type="button" class="btn btn-success btn-lg" onclick="button3_click();" value="button3">
<input type="button" class="btn btn-success btn-lg" onclick="button4_click();" value="button4">
<input type="button" class="btn btn-success btn-lg" onclick="button5_click();" value="button5">
<input type="button" class="btn btn-success btn-lg" onclick="button6_click();" value="button6">
<input type="button" class="btn btn-success btn-lg" onclick="button7_click();" value="button7">
<input type="button" class="btn btn-success btn-lg" onclick="button8_click();" value="button8">
<input type="button" class="btn btn-success btn-lg" onclick="button9_click();" value="button9">
<input type="button" class="btn btn-success btn-lg" onclick="button10_click();" value="button10">
<br><br><br>
<input type="button" class="btn btn-success btn-lg" onclick="start_click();" value="START">
<input type="button" class="btn btn-success btn-lg" onclick="stop_click();" value="STOP">
<br><br><br>
<svg id="fillgauge" width="97%" height="250" ></svg>

<script language="JavaScript">
    var loadvalue = 50
    var readvalue = 0
    var timer1
    var ud = 0

    var config = liquidFillGaugeDefaultSettings();
    //config.circleColor = "#FF7777";
    //config.textColor = "#FF4444";
    //config.waveTextColor = "#FFAAAA";
    //config.waveColor = "#FFDDDD";
    config.textVertPosition = 0.5;
    config.waveAnimateTime = 1000;
    config.circleThickness = 0.1;
    var gauge = loadLiquidFillGauge("fillgauge", loadvalue, config);

    function button1_click() { loadvalue = 10; gauge.update(loadvalue) }
    function button2_click() { loadvalue = 20; gauge.update(loadvalue) }
    function button3_click() { loadvalue = 30; gauge.update(loadvalue) }
    function button4_click() { loadvalue = 40; gauge.update(loadvalue) }
    function button5_click() { loadvalue = 50; gauge.update(loadvalue) }
    function button6_click() { loadvalue = 60; gauge.update(loadvalue) }
    function button7_click() { loadvalue = 70; gauge.update(loadvalue) }
    function button8_click() { loadvalue = 80; gauge.update(loadvalue) }
    function button9_click() { loadvalue = 90; gauge.update(loadvalue) }
    function button10_click() { loadvalue = 100; gauge.update(loadvalue) }
    function start_click() {
        gauge.update(loadvalue)
        timer1 = setInterval(function(){
            if(ud == 0) {
                loadvalue = loadvalue + 10
            }
            else if(ud == 1) {
                loadvalue = loadvalue - 10
            }
            gauge.update(loadvalue)

            if(loadvalue == 100) {
                ud = 1
            }
            else if(loadvalue == 0) {
                ud = 0
            }
        },800)
    }
    function stop_click() {
        clearInterval(timer1)
    }
</script>
</body>
</html>