<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="static/liquidFillGauge.js" language="JavaScript"></script>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <style> .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; } </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="list1">
</div>
<div id="list2">
</div>
<div id="list3">
</div>
<div id="list4">
</div>
<div id="list5">
</div>
<div id="list6">
</div>
<div id="list7">
</div>
<div id="list8">
</div>
<div id="list9">
</div>
<div id="list10">
</div>
<div id="list11">
</div>
<div id="list12">
</div>
<div id="list13">
</div>
<div id="list14">
</div>
<div id="list15">
</div>
</body>

<script language="JavaScript">
    var Data
    $.ajax({
        type:"GET",
        url:"http://168.131.148.45:20003/status",
        dataType:"json",
        success: function(data){
            console.log(data);
            console.log(data[0].names)
            Data = data
        },
        error: function (error) {
            alert(JSON.stringify(error));
        }
    });
    console.log("Data : ");
    console.log(Data);

    var config1 = liquidFillGaugeDefaultSettings()
    config1.textVertPosition = 0.5;
    config1.waveAnimateTime = 1000;
    config1.circleThickness = 0.1;
    var config2 = liquidFillGaugeDefaultSettings()
    config2.textVertPosition = 0.5;
    config2.waveAnimateTime = 1000;
    config2.circleThickness = 0.1;
    config2.maxValue = 1

    var i = 1
    var list = new Array()
    list[1] = document.getElementById('list1');
    list[2] = document.getElementById('list2');
    list[3] = document.getElementById('list3');
    list[4] = document.getElementById('list4');
    list[5] = document.getElementById('list5');
    list[6] = document.getElementById('list6');
    list[7] = document.getElementById('list7');
    list[8] = document.getElementById('list8');
    list[9] = document.getElementById('list9');
    list[10] = document.getElementById('list10');
    list[11] = document.getElementById('list11');
    list[12] = document.getElementById('list12');
    list[13] = document.getElementById('list13');
    list[14] = document.getElementById('list14');
    list[15] = document.getElementById('list15');

    function Create (i, name, cpu, mem) {
        this.i = i
        this.name = name
        this.cpu = cpu
        this.mem = mem
        this.string = '<div class="container-name">' + this.name + '</div>' +
            '<div class="container-contents">' +
            '<svg id="fillgauge1_'+this.i+'" width="100%" height="180px"></svg><br><p>CPU</p></div>' +
            '<div class="container-contents">' +
            '<svg id="fillgauge3_'+this.i+'" width="100%" height="180px" ></svg><br><p>MEM</p></div>' +
            '<div class="container-text"><br>' +
            '<p>CPU : '+ this.cpu + '%</p><p>MEM : '+ this.mem+ '%</p></div>' +
            '<div class="container-enter"></div>';
        list[i].innerHTML=this.string
        var gauge1 = loadLiquidFillGauge("fillgauge1_"+this.i, this.cpu, config1)
        var gauge3 = loadLiquidFillGauge("fillgauge3_"+this.i, this.mem, config2)
    }

    for (var j = 0; j<5; j++)
    {
        var c = new Create(i, 'NameA', 6.61, 0.28)
        i=i+1
    }
</script>
</html>