<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="static/liquidFillGauge.js" language="JavaScript"></script>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <style> .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; } </style>
</head>
<body>
<div class="container-name">
    Name
</div>
<div class="container-contents">
    <svg id="fillgauge1" width="100%" height="180px"></svg>
    <br>
    <p>CPU</p>
</div>
<div class="container-contents">
    <svg id="fillgauge2" width="100%" height="180px" ></svg>
    <br>
    <p>NET I/O</p>
</div>
<div class="container-contents">
    <svg id="fillgauge3" width="100%" height="180px" ></svg>
    <br>
    <p>MEM</p>
</div>
<div class="container-text">
    <br>
    <p>CPU : </p>
    <p>NET I/O: </p>
    <p>MEM : </p>
</div>
<script language="JavaScript">
    var config1 = liquidFillGaugeDefaultSettings()
    config1.textVertPosition = 0.5;
    config1.waveAnimateTime = 1000;
    config1.circleThickness = 0.1;
    var config2 = liquidFillGaugeDefaultSettings()
    config2.textVertPosition = 0.5;
    config2.waveAnimateTime = 1000;
    config2.circleThickness = 0.1;
    var config3 = liquidFillGaugeDefaultSettings()
    config3.textVertPosition = 0.5;
    config3.waveAnimateTime = 1000;
    config3.circleThickness = 0.1;
    config3.maxValue = 1
    var gauge1 = loadLiquidFillGauge("fillgauge1", 6.61, config1)
    var gauge2 = loadLiquidFillGauge("fillgauge2", 17.1, config2)
    var gauge3 = loadLiquidFillGauge("fillgauge3", 0.28, config3)
</script>

</body>
</html>