@charset "utf-8";

.container-contents {
    background-color:LightGray;
    font-family:Verdana;
    font-size:200%;
    text-align:center;
    height:260px;
    width:200px;
    padding:10px;
    float:left;
    margin:5px;
}
.container-text {
    background-color:LightGray;
    font-family:Verdana;
    font-size:150%;
    text-align:left;
    height:260px;
    width:320px;
    padding:15px;
    float:left;
    margin:5px;
}
.container-name {
    font-family:Verdana;
    width:100%;
    font-size:300%;
    text-align:center;
    margin:5px;
}
.container-enter {
    width:100%;
    height:300px;
}